<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
	</configSections>
	<!--
	<log4net debug="false">

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="log/log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<param name="CountDirection" value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date %level %logger - %message %newline" />
			</layout>
		</appender>

		<root>
			<priority value="ERROR" />
			<appender-ref ref="rollingFile" />
		</root>

		<logger name="Cuyahoga.Web.HttpModules.PageRequestModule">
			<level value="INFO" />
		</logger>

		<logger name="Cuyahoga.Web.Global">
			<level value="INFO" />
		</logger>

	</log4net>
	-->
</configuration>
