<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CuyahogaSettings" type="Cuyahoga.Core.Util.CuyahogaSectionHandler, Cuyahoga.Core" />
  </configSections> 
  
  <CuyahogaSettings>
    <add setting="CoreDataProviderAssembly" value="Cuyahoga.Core.dll" />
    <add setting="CoreDataProviderClassName" value="Cuyahoga.Core.DAL.PgSqlDataProvider" />
    <add setting="ModuleDataProviderAssembly" value="Cuyahoga.Modules.dll" />
    <add setting="ModuleDataProviderClassName" value="Cuyahoga.Modules.DAL.PgSqlModulesDataProvider" />
    <add setting="ConnectionString" value="SERVER=10.10.10.1;PORT=5432;USER ID=tijn;PASSWORD=joyjoy;DATABASE=Cuyahoga;" />
  </CuyahogaSettings>
</configuration>
