<configuration>
	<components>
		<!-- Optionally specify htmleditor. When none is specified, TinyMce is used.
		<component
			id="cuyahoga.htmleditorscriptprovider"
			service="Cuyahoga.Web.Mvc.HtmlEditor.IHtmlEditorScriptProvider, Cuyahoga.Web.Mvc"
			type="Cuyahoga.Web.Mvc.HtmlEditor.FckEditorScriptProvider, Cuyahoga.Web.Mvc">
		</component>
		-->
		<component
			id="castle.activitymanager"
			service="Castle.Services.Transaction.IActivityManager, Castle.Services.Transaction"
			type="Cuyahoga.Core.Infrastructure.Transactions.WebActivityManager, Cuyahoga.Core">
		</component>
		
		<!-- Core services -->
		<component
			id="core.siteservice"
			service="Cuyahoga.Core.Service.SiteStructure.ISiteService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.SiteStructure.SiteService, Cuyahoga.Core">
		</component>
		<component
			id="core.nodeservice"
			service="Cuyahoga.Core.Service.SiteStructure.INodeService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.SiteStructure.NodeService, Cuyahoga.Core">
		</component>
		<component
			id="core.sectionservice"
			service="Cuyahoga.Core.Service.SiteStructure.ISectionService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.SiteStructure.SectionService, Cuyahoga.Core">
		</component>
		<component
			id="core.moduletypeservice"
			service="Cuyahoga.Core.Service.SiteStructure.IModuleTypeService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.SiteStructure.ModuleTypeService, Cuyahoga.Core">
		</component>
		<component
			id="core.templateservice"
			service="Cuyahoga.Core.Service.SiteStructure.ITemplateService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.SiteStructure.TemplateService, Cuyahoga.Core">
		</component>
		<component
			id="core.authenticationservice"
			service="Cuyahoga.Core.Service.Membership.IAuthenticationService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Membership.DefaultAuthenticationService, Cuyahoga.Core">
		</component>
		<component
			id="core.userservice"
			service="Cuyahoga.Core.Service.Membership.IUserService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Membership.DefaultUserService, Cuyahoga.Core">
		</component>
		<component
			id="core.fileservice"
			service="Cuyahoga.Core.Service.Files.IFileService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Files.TransactionalFileService, Cuyahoga.Core">
			<parameters>
				<tempdir>#{tempDir}</tempdir>
			</parameters>
		</component>
		<component
			id="core.emailservice"
			service="Cuyahoga.Core.Service.Email.IEmailService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Email.DefaultEmailService, Cuyahoga.Core">
		</component>
		<component
			id="core.emailsender"
			service="Cuyahoga.Core.Service.Email.IEmailSender, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Email.SmtpNet2EmailSender, Cuyahoga.Core">
			<parameters>
				<host>#{smtpHost}</host>
				<!-- optional properties
				<port>#{smtpPort}</port>
				<smtpUsername>#{smtpUsername}</smtpUsername>
				<smtpPassword>#{smtpPassword}</smtpPassword>
				<emailEncoding>#{emailEncoding}</emailEncoding>
				-->
			</parameters>
		</component>
		<component
			id="core.emailtemplateengine"
			service="Cuyahoga.Core.Service.Email.IEmailTemplateEngine, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Email.SimpleEmailTemplateEngine, Cuyahoga.Core">
		</component>
		<!-- Content related services with decorators -->
		<component
			id="core.auditdecorator"
			service="Cuyahoga.Core.Service.Content.IContentItemService`1, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Content.AuditContentDecorator`1, Cuyahoga.Core">
			<parameters>
				<contentItemDao>${core.searchdecorator}</contentItemDao>
			</parameters>
		</component>
		<component
			id="core.searchdecorator"
			service="Cuyahoga.Core.Service.Content.IContentItemService`1, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Search.SearchDecorator`1, Cuyahoga.Core">
			<parameters>
				<contentItemDao>${core.versioningdecorator}</contentItemDao>
			</parameters>
		</component>
		<component
			id="core.versioningdecorator"
			service="Cuyahoga.Core.Service.Content.IContentItemService`1, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Versioning.VersioningDecorator`1, Cuyahoga.Core">
			<parameters>
				<contentItemDao>${core.contentitemservice}</contentItemDao>
			</parameters>
		</component>
		<component
			id="core.contentitemservice"
			service="Cuyahoga.Core.Service.Content.IContentItemService`1, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Content.ContentItemService`1, Cuyahoga.Core">
		</component>
		
		<component
			id="core.versioningservice"
			service="Cuyahoga.Core.Service.Versioning.IVersioningService`1, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Versioning.VersioningService`1, Cuyahoga.Core">
		</component>
		<component
			id="core.categoryservice"
			service="Cuyahoga.Core.Service.Content.ICategoryService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Content.CategoryService, Cuyahoga.Core">
		</component>
		<component
			id="core.commentservice"
			service="Cuyahoga.Core.Service.Content.ICommentService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Content.CommentService, Cuyahoga.Core">
		</component>
		<component
			id="core.searchservice"
			service="Cuyahoga.Core.Service.Search.ISearchService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Search.SearchService, Cuyahoga.Core">
		</component>
		
		<!-- Core data access services -->
		<component
			id="core.commondao"
			service="Cuyahoga.Core.DataAccess.ICommonDao, Cuyahoga.Core"
			type="Cuyahoga.Core.DataAccess.CommonDao, Cuyahoga.Core">
		</component>
		<component
			id="core.sitestructuredao"
			service="Cuyahoga.Core.DataAccess.ISiteStructureDao, Cuyahoga.Core"
			type="Cuyahoga.Core.DataAccess.SiteStructureDao, Cuyahoga.Core">
		</component>
		<component
			id="core.userdao"
			service="Cuyahoga.Core.DataAccess.IUserDao, Cuyahoga.Core"
			type="Cuyahoga.Core.DataAccess.UserDao, Cuyahoga.Core">
		</component>
		<component
			id="core.categorydao"
			service="Cuyahoga.Core.DataAccess.ICategoryDao, Cuyahoga.Core"
			type="Cuyahoga.Core.DataAccess.CategoryDao, Cuyahoga.Core">
		</component>
		<component
			id="core.contentitemdao"
			service="Cuyahoga.Core.DataAccess.IContentItemDao`1, Cuyahoga.Core"
			type="Cuyahoga.Core.DataAccess.ContentItemDao`1, Cuyahoga.Core">
		</component>
	</components>
</configuration>
