body 
{
	margin: 3px;
	background-color: #fff;
	font: 0.7em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
}

h3
{
	font-size: 130%;
	font-weight: bold;
}

a
{
	color: #039;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

img
{
	border: 0;
}

.section
{
	padding: 7px;
	margin-top: 4px;
	border: 1px solid #eee;
}
.section h3
{
	color: #900;
	font-size: 130%;
	padding: 2px;
	margin-top: 0px;
	margin-bottom: 4px;
}

.tbl
{
	border: 1px solid #eee;
}

.tblvalue
{
	font-weight: bold;
}

.articlelist
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.articlelist li
{
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-bottom: 10px;
}

.articlelist h4
{
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 100%;
}

.articlesub
{
	padding-top: 2px;
	padding-bottom: 2px;
	color: #666;
	background-color: #f9f9f9;
}

.articlesub span
{
	margin-right: 6px;
}

.articlesub a
{
	margin-right: 6px;
}

.articlecontent
{
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-bottom: 10px;
}

.articlecomments
{
	margin: 0px;
	padding: 0;
	list-style-type: none;
}

.articlecomments li
{
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
	border-bottom: solid 1px #eee;
}

.articleerror
{
	color: #c00;
}

.genericitem
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
}

.genericitem h4
{
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 100%;
}

.genericdetails
{
	padding-top: 2px;
	padding-bottom: 2px;
	color: #666;
	font-size: 0.85em;
}

.languageswitcher ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.languageswitcher li
{
	display: inline;
	padding: 2px;
	margin-right: 3px;
}
