/* Templates */
.templatecontainer
{
	font-size: larger;
	border: 1px solid #000;
	width: 100%;
	/*stops scrolling on template display*/
	overflow: hidden; 
}

.contentplaceholder
{
	padding: 0px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px dashed #999;
	background-color: #eee;
}

.contentplaceholder .placeholdertitle
{
	font-weight: bold;
	color: #999;
	padding: 2px;
}

.contentplaceholder ul.sectionlist
{
	min-height: 10px;
}

#availablemodules li,
.contentplaceholder ul.sectionlist li
{
	padding: 3px;
	margin: 2px 1px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: default;
}

.contentplaceholder ul.sectionlist li.sectionplaceholder
{
	border: 3px dashed #ccc;
}

.contentplaceholder ul.sectionlist li.section-selected
{
	background-color: #ffd;
	font-weight: bold;
}

