#contentblocks li
{
	padding: 12px;
}

#contentblocks li.active
{
	background-color: #369;
}

#contentblocks li.active a
{
	color: #fff;
}

.contenteditor
{
    overflow: auto;
}
.contenteditor form
{
    overflow: hidden;
}
.contenteditor iframe
{
    overflow: hidden;
    min-height: 400px;
}

/* Drag & drop */
.drophover
{
	border: 8px dashed #666;
	padding: 8px;
	color: #333;
}