/*admin.master main menu*/
#mainmenu
{
    position: relative;
    top: -28px;
	padding: 0px 10px 0px 10px;
	height: 28px;
	min-width: 900px;
	/*for the dropdowns to appear above the content*/
	z-index: 500;
}

#mainmenu-options
{
	float: right;
}

#mainmenu li
{
	float: left;
	margin-right: 4px;
	border-top: 1px solid #036;
	border-left: 1px solid #036;
	border-right: 1px solid #036;
	background-color: #69c;
	position: relative;
}

#mainmenu li.selected
{
	background-color: #e6eef7;
}

#mainmenu a
{
	display: block;
	padding: 4px 10px 4px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	float: left;
}

#mainmenu a:hover,
#mainmenu li.selected ul li a:hover
{
	background-color: #369;
}

#mainmenu li.selected a
{
	color: #000;
}

#mainmenu li.selected a:hover
{
    background-color: #369;
    color: #fff;
}

#mainmenu img
{
	vertical-align: middle;
	margin-top: -4px;
}

#mainmenu .expander
{
	float: left;
	border-left: 1px solid #ccc;
	padding-top: 8px;
	height: 16px;
	cursor: pointer;
}

#mainmenu .expander:hover
{
	background-color: #369;
}

#mainmenu li ul
{
	position: absolute;
	display: none;
	top: 24px;
	left: -1px;
	padding: 0;
	width: 150px;
}

#mainmenu li ul li,
#mainmenu li.selected ul li
{
	float: none;
	background-color: #58b;
	border: 0;
	border-bottom: 1px solid #eee;
	margin: 0;
}

#mainmenu li ul li a,
#mainmenu li.selected ul li a
{
	float: none;
	color: #fff;
	font-weight: normal;
}
