body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #afc3da;
    background-image: url(../Images/main-background-gradient.jpg);
    background-repeat: repeat-x;
}
h1
{
	margin: 5px 0px 10px 0px;
	padding: 6px;
	background-color: #69c;
	color: #fff;
	font-size: 130%;
}

h2
{
	margin: 5px 0px;
	color: #333;
	font-size: 120%;
}

h3
{
	margin: 3px 0px;
	color: #333;
	font-size: 110%;
}

h4
{
	margin: 2px 0px;
	color: #333;
	font-size: 100%;
}

form
{
	padding: 0;
	margin: 0;
}

fieldset 
{  
	margin: 15px 0 5px 0;  
	padding: 0;
	border-style: none;
	border-top: 1px solid #eee;
}

fieldset legend 
{
	font-weight: bold;
	color: #333;
	margin: 3px 0px;
	border: 1px solid #ccc;
	padding: 1px 5px;
	background-color: #eee;
}

fieldset ol 
{  
	list-style: none;
	padding: 0;
	margin: 0;
}

fieldset li 
{  
	list-style: none;
	margin-left: 2px;
	padding: 3px;
	float: left;  
	clear: left;  
	width: 99%; 
	border-bottom: 1px solid #eee;
}

input[type*="submit"]
{
    margin-bottom: 1px;
    padding: 2px 4px 2px 4px;
    height: 26px;
}

fieldset label 
{  
	float: left;
	width: 200px;  
	margin-right: 10px;
}

fieldset label.error
{
	margin-left: 210px;
	font-style: italic;
	color: #f00;
	width: auto;
	display: inline;
}
fieldset fieldset 
{  
	margin-top: 0px;
	margin-bottom: -15px; 
	border-style: none; 
}

fieldset legend 
{  
	padding: 4px;
	background-color: #69c;
	color: #fff;
	padding-right: 32px;
}

fieldset select 
{  
	color: #369;
    border: 1px solid #369;
    padding: 4px;
}

fieldset fieldset ol 
{  
	position: relative;  
	top: -30px;  
	margin: 0 0 0 205px;  
	padding: 0;
}

fieldset fieldset label 
{  
	float: left;  
	width: 192px;  
}

a
{
	color: #369;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

img, iframe
{
	border: 0;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

textarea
{
   	border: 1px solid #369;
	padding: 5px;
    font-size: small;
    color: #369;
    overflow: auto;
}
textarea:hover, textarea:focus
{
	background-color: #ffc;
}

input[type*="text"]
{
	border: 1px solid #369;
	padding: 5px;
    font-size: small;
    width: 192px;
    color: #369;
}
input[type*="text"]:hover, input[type*="text"]:focus
{
	background-color: #ffc;
}

input[type*="password"]
{
	border: 1px solid #369;
	padding: 5px;
    font-size: small;
    width: 192px;
    color: #369;
}
input[type*="password"]:hover, input[type*="password"]:focus
{
	background-color: #ffc;
}

input[type="file"]
{
	border: 1px solid #369;
	padding: 5px;
    font-size: small;
    color: #369;
}

object[id="filedataUploader"]
{
    position: relative;
    float: left;
}
input[id="uploadbutton"]
{
    height: 30px;
    margin-left: 8px;
}
select 
{  
	color: #369;
    border: 1px solid #369;
    padding: 4px;
}
