/* Page grid */
#pagegrid span.no-children
{
	padding: 11px;
}

#pagegrid img.children-hidden,
#pagegrid img.children-visible
{
	padding: 0;
	cursor: pointer;
}

#pagegrid-head
{
    overflow: auto;
    margin: 0;
    padding: 0;
}

#pagegrid-head h3
{
    padding-left: 8px;
}

#pagegrid-head div
{
	background-color: #f6f6f6;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #ccc;
	padding-top: 4px;
	padding-bottom: 4px;
}

#pagegrid .selected
{
	background-color: #eef;
	font-weight: bold;
	color: #666;
}

#pagegrid-body
{
	/*margin-left: -20px;*/
}

ul.pagegroup
{
	margin: 0;
	list-style: none;
	/*padding: 0 0 0 20px;*/
	padding: 0;
}

.pageplaceholder
{
	border: 2px dashed #666;
	height: 3px;
}

.droppablepage
{
	background-color: #69c;
	color: #fff;
}

#pagegrid .pagerow          /* grid row */
{
	border-bottom: 1px solid #eee;
	width: 100%;
}

.pagegroup .ui-sortable .pagerow:hover   /*Only sortable rows highlight*/
{
    background-color: #eef;
    cursor: move;
}

/*#pagegrid .pagerow:hover
{
    background-color: #ffc;
}*/

#pagegrid .pagerow div      /* grid cell */
{
	padding-top: 4px;
	padding-bottom: 4px;
	border: none;
    height: 32px;
}

#pagegrid .page,
#pagegrid .link
{
	white-space: nowrap;
}

#pagegrid .fr
{
    padding: 0;
    padding-top: 4px;
	padding-bottom: 4px;
    float: right;
    text-align: center;
}
