.contenteditor iframe
{
   overflow: hidden;
}

#contentblocks li
{
	padding: 2px;
}

#contentblocks li.active
{
	background-color: #369;
}

#contentblocks li.active a
{
	color: #fff;
}

.gotopagelink
{
	font-size: 130%;
	font-weight: bold;
	float: right;
	margin-top: 5px;
	padding-right: 18px;
	background: url(../Images/page_go.png) no-repeat right;
}