<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TemplateDir" value="~/Admin/Controls/" />
	<add key="DefaultTemplate" value="AdminTemplate.ascx" />
    <add key="DefaultCss" value="~/Admin/Css/Admin.css" />
    <add key="DefaultTitle" value="Cuyahoga Site Administration" />
  </appSettings>
  
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
</configuration>
