body
{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

body.dialog
{
	background-color: #fff;
}

h1
{
	margin: 5px 0px 10px 0px;
	color: #333;
	font-size: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2
{
	margin: 5px 0px;
	color: #333;
	font-size: 130%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h3
{
	margin: 3px 0px;
	color: #333;
	font-size: 110%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h4
{
	margin: 2px 0px;
	color: #333;
	font-size: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

form
{
	padding: 0;
	margin: 0;
}

fieldset 
{  
	margin: 15px 0 5px 0;  
	padding: 0;
	border-style: none;
	border-top: 1px solid #eee;
}

fieldset legend 
{
	font-weight: bold;
	color: #333;
	margin: 3px 0px;
	border: 1px solid #ccc;
	padding: 1px 5px;
	background-color: #eee;
}

fieldset ol 
{  
	list-style: none;
	padding: 0;
	margin: 0;
}

fieldset li 
{  
	list-style: none;
	margin-left: 2px;
	padding: 3px;
	float: left;  
	clear: left;  
	width: 99%; 
	border-bottom: 1px solid #eee;
}

fieldset label 
{  
	float: left;
	width: 200px;  
	margin-right: 10px;
}

fieldset label.error
{
	margin-left: 210px;
	font-style: italic;
	color: #f00;
	width: auto;
	display: inline;
}

input.error, .input-validation-error
{
	border: 1px solid #f00;
}

fieldset fieldset 
{  
	margin-top: 0px;
	margin-bottom: -15px; 
	border-style: none; 
}

fieldset fieldset legend 
{  
	padding: 0;
	font-weight: normal;
	border: none;
	background-color: Transparent;
}

fieldset fieldset ol 
{  
	position: relative;  
	top: -30px;  
	margin: 0 0 0 205px;  
	padding: 0;
}

fieldset fieldset label 
{  
	float: none;  
	width: auto;  
	margin-right: auto;
}

a
{
	color: #369;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

img, iframe
{
	border: 0;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#contentarea
{
	margin: 6px;
}

/* Messages */

#messagewrapper
{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.messagebox
{
	color: #060;
	margin: 0px;
	padding: 10px 10px 10px 30px;
	border: 1px solid #396;
	background: #cfc url(../Images/information.png) no-repeat 8px 11px;
}

.errorbox
{
	color: #c00;
	margin: 0px;
	padding: 10px 10px 10px 30px;
	border: 1px solid #c00;
	background: #fcc url(../Images/exclamation.png) no-repeat 8px 11px;
}

.errorbox ul
{
	margin: 7px 0 0 0;
}

.exceptionbox
{
	color: #c00;
	margin: 10px;
	padding: 10px 10px 10px 30px;
	border: 1px solid #c00;
	background: #fcc url(../Images/exclamation.png) no-repeat 8px 11px;
}

table.grid
{	
	color: #333333;
	border-collapse: collapse;
}

table.grid th
{
	color: #333333;
	background-color: #eee;
	font-weight: bold;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #ccc;
	padding: 4px;
}

table.grid td
{
	border-bottom: 1px solid #eee;
	padding: 6px 4px;
	vertical-align: top;
}

table.grid td form
{
	display: inline;
}

table.grid tr:hover
{
	background-color: #eef;
}

table.grid tr.selected
{
	background-color: #ffd;
	font-weight: bold;
}

table.grid td a
{
	margin-right: 5px;
}

table.grid td.center
{
	text-align: center;
}

table.grid td.right
{
	text-align: right;
}

/* Pager */
.pager 
{
	margin:8px 3px;
	padding:3px;
}

.pager .disabled 
{
	border:1px solid #ddd;
	color:#999;
	margin-top:4px;
	padding:3px;
	text-align:center;
}

.pager .current 
{
	background-color:#369;
	border:1px solid #009;
	color:#fff;
	font-weight:bold;
	margin-top:4px;
	padding:3px 5px;
	text-align:center;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager a 
{
	border:1px solid #c0c0c0;
	padding:3px 5px;
	text-align:center;
	text-decoration:none;
}

.validation-summary-errors
{
	color: #f00;
}

/* Dialog */
.dialog-content
{
	padding: 10px;
	margin: 0;
	overflow: auto;
}

/* Categories */
.categorycontainer
{
	display: inline;
	position: relative;
}

.categorypicker
{
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 200px;
	border: 1px solid #ccc;
	background-color: #fff;
}