body, html
{
	height: 100%;
}

body 
{
	background-color: #D7E3CA;
	font-family: Arial, Helvetica;
	font-size: 0.7em;
	margin: 0;
}

span
{
	font-size: 100%;
}

h1
{
	font-size: 128%;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 5px;
}

input, select, textarea
{
	font-size: 8pt;
	margin-left: 1px;
	margin-right: 1px;
	padding: 1px;
	border: solid 1px #999999;
}

.module
{
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	padding: 1px;
	margin: 1px;
}

.module h3
{
	margin: 0;
	padding: 2px;
	font-size: 120%;
	color: #FFFFFF;
	background-color: #333333;
}

.error
{
	color: #CC0000;
}

#container
{
	height: 100%;
	margin-left: 8%;
	margin-right: 8%;
}

#header
{
	padding: 3px;
	background-color: #333333;
	height: 60px;
}

#header h1
{
	font-family: "Trebuchet MS", Verdana, Helvetica;
	color: #FFFFFF;
	font-size: 200%;
}

#nav1
{
	padding: 0;
	height: 20px;
}

#nav1 ul
{
	margin: 0;
}

#nav1 li
{
	list-style-type: none;
	display: inline; 
	margin: 0;
}

#nav1 a
{
	color: #FFFFFF;
	padding: 5px 4px 2px 4px;
}

#nav1 a.selected
{
	color: #333333;
	background-color: #FFFFFF;
}


#control
{
	min-height: 60%;
	float: right;
	width: 200px;
	padding: 0px;
	margin: 0;
	background-color: #E1E7E1;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
}

#footer
{
	text-align: center;
}

#main
{
	min-height: 60%;
	margin: 1px 200px 1px 1px;
	background-color: #FFFFFF;
}

#main p
{
	margin-left: 5px;
	margin-right: 5px;