body
{
	background-color: #666666;
	margin: 0px;
	padding: 4px;
	color: #000000;
	font-family: Tahoma,Sans-serif;
	font-size: 90%;
}

#header
{
	background-color: #990000;
	height: 80px;
}

#side1
{
	background-color: #000000;
	padding: 2px;
	width: 180px;
	float:left ;
}

#main
{
	background-color: #FFFFFF;
	margin-left: 180px;
}

#side2
{
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	float: right;
	width: 220px;
}