body
{
	background-color: #EEEEEE;
	margin: 0;
	font-family: Arial, Helvetica;
	font-size: 8pt;
}

td
{
	font-size: 8pt;	
}

a
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

input
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
}

#header
{
	background-color: #CC0000;
	height: 35px;
}

#folder
{
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 1px;
}

#folder a
{
	color: #FFFFFF;
}

#container
{
	margin: 3px;
	padding: 3px;
	border: solid 1px #CCCCCC;
}

#filebrowser
{
	background-color: #FFFFFF;
	width: 300px;
	height: 300px;
	overflow: auto;
	border: inset 1px #CCCCCCC;
	float: left;
}

#filebrowser ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#imgpreview
{
	background-color: #EEEEEE;
	width: 100px;
	height: 100px;
	padding: 0;
	border: solid 1px #CCCCCC;
}

#controls
{
	clear: both;
}

#dialogButtons
{
	text-align: right;
	padding: 3px;
}

#dialogButtons input
{
	width: 60px;
}