<div id="header">
	<img src="$siteRoot/Manager/Content/Images/cuyahoga-logo.png" width="172" height="60" alt="Cuyahoga logo" />
	#if ($controller.CurrentUser.IsAuthenticated)
	<div id="userinfo">
		logged in as $controller.CurrentUser.FullName<br />
		<a href="$UrlHelper.For("%{area='manager', controller='login' action='logout'}")">logout</a>
	</div>
	#end
	<p>Cuyahoga Site Manager</p>
</div>