<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Cuyahoga MonoRail filters -->
		<component id="authentication.filter" type="Cuyahoga.Web.Manager.Filters.AuthenticationFilter, Cuyahoga.Web" />

		<!-- Cuyahoga MonoRail View Components -->
		<component id="HeaderComponent" type="Cuyahoga.Web.Manager.ViewComponents.HeaderComponent, Cuyahoga.Web" />

		<component id="MessagesComponent" type="Cuyahoga.Web.Manager.ViewComponents.MessagesComponent, Cuyahoga.Web" />

		<component id="RightsComponent" type="Cuyahoga.Web.Manager.ViewComponents.RightsComponent, Cuyahoga.Web" />

		<component id="MainMenuComponent" type="Cuyahoga.Web.Manager.ViewComponents.MainMenuComponent, Cuyahoga.Web" />
		
	</components>
</configuration>