<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Cuyahoga MonoRail controllers -->
		<component id="login.controller" type="Cuyahoga.Web.Manager.Controllers.LoginController, Cuyahoga.Web" />
		
		<component id="dashboard.controller" type="Cuyahoga.Web.Manager.Controllers.DashboardController, Cuyahoga.Web" />

		<component id="pages.controller" type="Cuyahoga.Web.Manager.Controllers.PagesController, Cuyahoga.Web" />

		<component id="files.controller" type="Cuyahoga.Web.Manager.Controllers.FilesController, Cuyahoga.Web" />

	</components>
</configuration>