<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" 
			id="nhibernate" isWeb="true" useReflectionOptimizer="false">
			<factory id="nhibernate.factory">
				<settings>
					<item key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
					<item key="hibernate.connection.driver_class">#{nhibernateDriver}</item>
					<item key="hibernate.dialect">#{nhibernateDialect}</item>
					<item key="hibernate.connection.connection_string">#{connectionString}</item>
					<item key="hibernate.cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>
					<item key="hibernate.cache.use_query_cache">true</item>
					<item key="relativeExpiration">30</item>
				</settings>
				<assemblies>
					<assembly>Cuyahoga.Core</assembly>
				</assemblies>
			</factory>
		</facility>
		<facility type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" 
			id="autotransaction" />
	</facilities>
</configuration>
