<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->
		
		<!-- SQL Server settings -->
		<connectionString>Server=(local);Database=Cuyahoga;Integrated Security=SSPI</connectionString>
		<nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2000Dialect</nhibernateDialect>
		<!--			
		PostgreSQL settings
		<connectionString>Server=localhost;Port=5432;Database=cuyahoga;uid=;pwd=</connectionString>
		<nhibernateDriver>NHibernate.Driver.NpgsqlDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.PostgreSQLDialect</nhibernateDialect>
		-->	  
		<!--	  
		MySQL settings
		<connectionString>server=localhost;database=cuyahoga;uid=;pwd=;</connectionString>
		<nhibernateDriver>NHibernate.Driver.MySqlDataDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MySQLDialect</nhibernateDialect>
		-->

		<!-- Email. -->
		<!-- Important: also update services.config when setting port, username, password and encoding -->
		<smtpHost>localhost</smtpHost> <!-- required-->
		<smtpPort></smtpPort>
		<smtpUsername></smtpUsername>
		<smtpPassword></smtpPassword>
		<emailEncoding></emailEncoding> <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
		
		<!-- 
		Location for temporary files in transactional uploads. 
		When left empty, The TEMP environment variable is used to lookup the temp directory. 
		-->
		<tempDir></tempDir>
		
	</properties>
</configuration>
