<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->
		<connectionString>Server=(local);Database=Cuyahoga;Integrated Security=SSPI</connectionString>
		<nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2000Dialect</nhibernateDialect>

		<!-- Email -->
		<smtpHost>localhost</smtpHost> <!-- required-->
		<smtpPort></smtpPort>
		<smtpUsername></smtpUsername>
		<smtpPassword></smtpPassword>
		<emailEncoding></emailEncoding> <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
		
	</properties>
</configuration>
