<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<connectionString>Server=(local);Database=Cuyahoga;Integrated Security=SSPI</connectionString>
		<nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2000Dialect</nhibernateDialect>		
	</properties>
</configuration>
