<configuration>
	<components>
		<component 
			id="core.authenticationservice" 
			service="Cuyahoga.Core.Service.Membership.IAuthenticationService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Membership.DefaultAuthenticationService, Cuyahoga.Core">
		</component>
		<component 
			id="core.userservice" 
			service="Cuyahoga.Core.Service.Membership.IUserService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Membership.DefaultUserService, Cuyahoga.Core">
		</component>
		<component 
			id="core.fileservice" 
			service="Cuyahoga.Core.Service.Files.IFileService, Cuyahoga.Core"
			type="Cuyahoga.Core.Service.Files.TransactionalFileService, Cuyahoga.Core">
		</component>
	</components>
</configuration>