#capturefor(javascripts)
<script type="text/javascript">
	$(document).ready(function() {
		$("#loginform").validate({
			messages: {
				username: {
					required: "$validatormessages.UserNameValidatorNonEmpty"
				},
				password: {
					required: "$validatormessages.PasswordValidatorNonEmpty",
					minlength: "$validatormessages.PasswordValidatorLength"
				}
			}
		});
	});
</script>
#end

#capturefor(stylesheets)
<style type="text/css">
#loginpanel
{
	width: 350px;
	height: 180px;
	background-color: #fff;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 8px solid #ccc;	
}

label 
{  
	width: 100px;  
}

label.error
{
	margin-left: 110px;
}


</style>
#end

<div id="loginpanel">
<h1>$globaltext.LoginPageTitle</h1>
<form id="loginform" action="$Url.For("%{action='Login'}")" method="post">
$Form.HiddenField("returnUrl")
<fieldset>
<ol>
	<li>
	$Form.LabelFor("username", $globaltext.UsernameLabel)
	$Form.TextField("username", "%{class='required'}")
	</li>
	<li>
	$Form.LabelFor("password", $globaltext.PasswordLabel)
	$Form.PasswordField("password", "%{class='{required:true, minlength:5}'}")
	</li>
</ol>
</fieldset>
<input type="submit" id="btnSubmit" value="$globaltext.LoginButtonLabel" class="submit" />
</form>
</div>