<?xml version="1.0" encoding="utf-8" ?>
<Gentle.Framework>
	<Options>
		<!-- whether to enable support for Gentle-managed concurrency control columns -->
		<ConcurrencyControl>false</ConcurrencyControl>
		<!-- options: Attributes (XML and Database to follow in future versions) -->
		<MasterDefinition>Attributes</MasterDefinition>
		<Analyzer>
			<!-- options: None, OnDemand (the default), Full -->
			<Level>OnDemand</Level>
			<!-- whether to report columns not mapped and other non-fatal errors -->
			<Silent>false</Silent>
		</Analyzer>
	</Options>

	<!--
	<DefaultProvider name="SQLServer" connectionString="..." />
	<DefaultProvider name="Firebird" connectionString="User=SYSDBA;Password=masterkey;Database=localhost/3050:C:\Code\Gentle.NET\Source\Gentle.Framework.Tests\Database Files\Gentle_Firebird.fdb;Dialect=3;Charset=UNICODE_FSS;Role=;Connection lifetime=30;Pooling=true;Packet Size=8192;" />
	<DefaultProvider name="Jet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Code\Gentle.NET\Source\Gentle.Framework.Tests\Database Files\Gentle_MSAccess.mdb;" />
	<DefaultProvider name="MySQL" connectionString="Server=10.0.0.2;Database=test;User ID=xxx;Password=xxx" />
	-->
	<DefaultProvider name="PostgreSQL" connectionString="Server=10.10.10.1;Port=5432;Database=Cuyahoga;User ID=tijn;Password=joyjoy" />
	<!--
	<DefaultProvider name="Oracle" connectionString="Network Library=DBMSSOCN;Data Source=kermit.symbiote.sporadicism.com,1521;User ID=gentle;password=xxx;Initial Catalog=xxx;" />
	<DefaultProvider name="OracleODP" connectionString="Network Library=DBMSSOCN;Data Source=kermit.symbiote.sporadicism.com,1521;User ID=gentle;password=xxx;Initial Catalog=xxx;" />
	<DefaultProvider name="SQLite" connectionString="URI=file:c:/Code/Gentle.NET/Source/Gentle.Framework.Tests/Database Files/Gentle_SQLite.db" />
	<DefaultProvider name="SQLServer" connectionString="data source=127.0.0.1;initial catalog=Test;user id=xxx;password=xxx;packet size=4096" />
	-->

	<Providers>
		<!-- list known provider assemblies; the assembly .dll suffix is optional -->
		<Provider name="Firebird"	assembly="Gentle.Provider.Firebird" />
		<Provider name="Jet"		assembly="Gentle.Provider.Jet" />
		<Provider name="MySQL"		assembly="Gentle.Provider.MySQL.dll" />
		<Provider name="Oracle"		assembly="Gentle.Provider.Oracle" />
		<Provider name="OracleODP"	assembly="Gentle.Provider.OracleODP" />
		<Provider name="PostgreSQL"	assembly="Gentle.Provider.PostgreSQL" />
		<Provider name="SQLite"		assembly="Gentle.Provider.SQLite" />
		<Provider name="SQLServer"	assembly="Gentle.Provider.SQLServer" />
		<Provider name="Sybase"		assembly="Gentle.Provider.Sybase" />
		<Provider name="SybaseASA"	assembly="Gentle.Provider.SybaseASA" />
	</Providers>

	<Messages>
		<ConnectError>Unable to connect to the database engine (check the connect string).</ConnectError>
		<ConnectionStateInvalid>The connection state ({0}) was invalid (not open).</ConnectionStateInvalid>
		<DatabaseUnavailable>The database backend could not be reached (check the connection string).</DatabaseUnavailable>
		<DeveloperError>An error in the use of Gentle was detected: {0}</DeveloperError>
		<EmptyListParameter>The given collection parameter {0} was empty.</EmptyListParameter>
		<IdentityAlreadySet>Unable to insert auto-persistent object with pre-assigned identity.</IdentityAlreadySet>
		<InvalidIdentity>The inserted row was assigned an invalid identity value or zero.</InvalidIdentity>
		<InvalidProviderLibrary>The assembly {0} could not be loaded or is not a valid Gentle provider.</InvalidProviderLibrary>
		<InvalidRequest>The operation could not be performed: {0}</InvalidRequest>
		<NoColumnForProperty>The class {0} declares a property named {1} for which no table column exists.</NoColumnForProperty>
		<NoDefaultProvider>No DefaultProvider specified in the configuration file.</NoDefaultProvider>
		<NoIdentityReturned>The database did not return a new row identity when one was expected.</NoIdentityReturned>
		<NoNewConnection>Could not open a new database connection.</NoNewConnection>
		<NoObjectMapForTable>No business object maps to the table {0} found in the database.</NoObjectMapForTable>
		<NoProperty>Class {0} does not have a property named {1}.</NoProperty>
		<NoPropertyForNotNullColumn>The column {0} cannot be null yet type {1} has no property for it.</NoPropertyForNotNullColumn>
		<NoProviders>No database providers specified in the configuration file.</NoProviders>
		<NoStatementType>You must set the StatementType before obtaining the SqlStatement.</NoStatementType>
		<NoSuchParameter>The query had no parameter named {0}.</NoSuchParameter>
		<NoSuchRecord>No record for type {0} could be found using key {1}. Error message: {2}</NoSuchRecord>
		<NoSuchView>No view named {0} was found for type {1}.</NoSuchView>
		<NotImplemented>The requested feature has not yet been implemented.</NotImplemented>
		<NullIdentity>The inserted row was assigned an invalid identity value (null).</NullIdentity>
		<NullParameter>The parameter {0} was null (not allowed here).</NullParameter>
		<NullProperty>The property named {0} of class {1} was null (not allowed here).</NullProperty>
		<NullWithNoMagicValue>The column {0} was null but no MagicValue was declared for the corresponding property on class {1}.</NullWithNoMagicValue>
		<ParameterError>The specified parameter(s) or their values were invalid for this statement.</ParameterError>
		<PropertyNotReadable>The property named {0} of class {1} was not readable.</PropertyNotReadable>
		<PropertyReadOnly>The property named {0} of class {1} was read only.</PropertyReadOnly>
		<PropertyWriteOnly>The property named {0} of class {1} was write only.</PropertyWriteOnly>
		<RecordChanged>The record being updated was changed by another process (concurrency error).</RecordChanged>
		<RecordExists>The record being inserted already exists (concurrency error).</RecordExists>
		<RecordLocked>The record being accessed was locked (concurrency error).</RecordLocked>
		<StatementError>{0}\r\nThe failing query was: {1}</StatementError>
		<UnknownTable>The table {0} to which type {1} maps does not exist.</UnknownTable>
		<UnexpectedRowCount>The number of returned rows {0} did not match the expected count of {1}.</UnexpectedRowCount>
		<UnsupportedColumnType>The database type {0} is not yet supported by {1}.</UnsupportedColumnType>
		<UnsupportedPropertyType>The property type {0} is not yet supported by {1}.</UnsupportedPropertyType>
		<UnsupportedType>The supplied class {0} is not supported by Gentle.NET (requires the TableName attribute).</UnsupportedType>
		<ViewError>Unable to generate view named {0} for type {1}.</ViewError>
	</Messages>
</Gentle.Framework>
