<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CuyahogaSettings" type="Cuyahoga.Core.Util.CuyahogaSectionHandler, Cuyahoga.Core" />
    <section name="UrlMappings" type="Cuyahoga.Web.Util.UrlMappingsSectionHandler, Cuyahoga.Web" />
  </configSections> 
  
  <CuyahogaSettings>
    <add setting="CoreDataProviderAssembly" value="/Cuyahoga/bin/Cuyahoga.Core.dll" />
    <add setting="CoreDataProviderClassName" value="Cuyahoga.Core.DAL.PgSqlDataProvider" />
    <add setting="ModuleDataProviderAssembly" value="/Cuyahoga/bin/Cuyahoga.Modules.dll" />
    <add setting="ModuleDataProviderClassName" value="Cuyahoga.Modules.DAL.PgSqlModulesDataProvider" />
    <add setting="ConnectionString" value="SERVER=10.10.10.1;PORT=5432;USER ID=tijn;PASSWORD=joyjoy;DATABASE=Cuyahoga;" />
    <add setting="TemplateDir" value="/Cuyahoga/Templates" />
    <add setting="Css" value="Css/Cuyahoga.css" />
    <add setting="NodeCacheDuration" value="30" />
    <add setting="AdminUser" value="admin" />
  </CuyahogaSettings>
  
  <UrlMappings>
    <add match="(\d+)/Show.aspx(.*)" replace="Default.aspx$2?NodeId=$1" />
    <add match="(\d+)/(\d+)\/Show.aspx(.*)" replace="Default.aspx$3?NodeId=$1&amp;SectionId=$2" />
    <!--
    <add match="(\w+).aspx" replace="Default.aspx?NodeName=$1" />
    -->
  </UrlMappings>
  
  <system.web>
    <httpModules>
	  <add type="Cuyahoga.Web.Util.UrlHandlerModule, Cuyahoga.Web" name="UrlHandlerModule" />
	  <add type="Cuyahoga.Web.Util.AuthenticationModule, Cuyahoga.Web" name="AuthenticationModule" />
    </httpModules>
    
    <compilation defaultLanguage="c#" debug="true" />

    <customErrors mode="Off" /> 

    <authentication mode="Forms">
      <forms name="CuyahogaUser" loginUrl="Login.aspx" protection="All" timeout="30" path="/" />
    </authentication>

    <authorization>
        <allow users="*" />
    </authorization>

    <sessionState 
			mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    
 </system.web>

</configuration>
