<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CuyahogaSettings" type="Cuyahoga.Core.Util.CuyahogaSectionHandler, Cuyahoga.Core" />
    <section name="UrlMappings" type="Cuyahoga.Web.Util.UrlMappingsSectionHandler, Cuyahoga.Web" />
	<section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
	
  <nhibernate>
	<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
	<add key="hibernate.dialect" value="NHibernate.Dialect.PostgreSQLDialect" />
	<add key="hibernate.connection.driver_class" value="NHibernate.Driver.NpgsqlDriver" />
	<add key="hibernate.connection.connection_string" value="Server=tijnthuus.demon.nl;port=5432;database=Cuyahoga;User ID=tijn;Password=joyjoy;" />
  </nhibernate>
   
  <CuyahogaSettings>
    <add setting="CoreDataProviderAssembly" value="/Cuyahoga/bin/Cuyahoga.Core.dll" />
    <add setting="CoreDataProviderClassName" value="Cuyahoga.Core.DAL.PgSqlDataProvider" />
    <add setting="ModuleDataProviderAssembly" value="/Cuyahoga/bin/Cuyahoga.Modules.dll" />
    <add setting="ModuleDataProviderClassName" value="Cuyahoga.Modules.DAL.PgSqlModulesDataProvider" />
    <add setting="ConnectionString" value="SERVER=tijnthuus.demon.nl;PORT=5432;USER ID=tijn;PASSWORD=joyjoy;DATABASE=Cuyahoga;" />
    <add setting="TemplateDir" value="/Cuyahoga/Templates" />
    <add setting="ImageDir" value="~/UserFiles/Images" />
    <add setting="Css" value="Css/Cuyahoga.css" />
    <add setting="NodeCacheDuration" value="30" />
    <add setting="AdminUser" value="admin" />
  </CuyahogaSettings>
  
  <UrlMappings>
	<add match="Default.aspx|Login.aspx|Test.aspx|Modules?|Admin?|Support?" replace="" />
    <add match="(\d+)/view.aspx(.*)" replace="Default.aspx$2?NodeId=$1" />
    <add match="(\d+)/(\d+)\/view.aspx(.*)" replace="Default.aspx$3?NodeId=$1&amp;SectionId=$2" />
    <add match="([\w|/]+).aspx(.*)" replace="Default.aspx$2?ShortDescription=$1" />
  </UrlMappings>
  
  <system.web>
    <httpModules>
	  <add type="Cuyahoga.Web.Util.UrlHandlerModule, Cuyahoga.Web" name="UrlHandlerModule" />
	  <add type="Cuyahoga.Web.Util.AuthenticationModule, Cuyahoga.Web" name="AuthenticationModule" />
    </httpModules>
    
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors mode="Off" /> 

    <authentication mode="Forms">
      <forms name="CuyahogaUser" loginUrl="Login.aspx" protection="All" timeout="30" path="/" />
    </authentication>

    <authorization>
        <allow users="*" />
    </authorization>

    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
 </system.web>

</configuration>
