<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CuyahogaSettings" type="Cuyahoga.Core.Util.CuyahogaSectionHandler, Cuyahoga.Core" />
		<section name="UrlMappings" type="Cuyahoga.Web.Components.UrlMappingsSectionHandler, Cuyahoga.Web" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
	</configSections>

	<CuyahogaSettings>
		<add setting="TemplateDir" value="~/Templates" />
		<add setting="ImageDir" value="~/UserFiles/Image" />
		<add setting="SuperUser" value="admin" />
		<add setting="AdministratorRole" value="Administrator" />
		<add setting="SMTPServer" value="localhost" />
		<add setting="RedirectToLoginWhenAccessDenied" value="true" /><!-- true/false, customErrors must be enabled -->
		<add setting="SearchIndexDir" value="~/index" />
		<add setting="InstantIndexing" value="true" />
		<!-- true/false -->
		<add setting="FCKeditor:UserFilesPath" value="~/UserFiles" />
	</CuyahogaSettings>

	<UrlMappings>
		<add match="(Default.aspx|Login.aspx|Rss.aspx|Error.aspx|Profile.aspx?|Modules?|Admin?|Support?|Install?)" replace="" />
		<add match="(\d+)\/view.aspx([\w|/]*)\??(.*)" replace="Default.aspx$2?NodeId=$1&amp;$3" />
		<add match="(\d+)\/section.aspx([\w|/]*)\??(.*)" replace="Default.aspx$2?SectionId=$1&amp;$3" />
		<add match="(\d+)\/feed.aspx(.*)" replace="Rss.aspx$2?SectionId=$1" />
		<add match="(\d+)\/(\d+)\/view.aspx([\w|/]*)\??(.*)" replace="Default.aspx$3?NodeId=$1&amp;SectionId=$2&amp;$4" />
		<add match="([\w|\/|-]+).aspx([\w|/]*)\??(.*)" replace="Default.aspx$2?ShortDescription=$1&amp;$3" />
	</UrlMappings>

	<castle>
		<include uri="file://Config/properties.config" />
		<include uri="file://Config/facilities.config" />
		<include uri="file://Config/services.config" />
	</castle>

	<monorail useWindsorIntegration="true">
		<viewEngine 
			viewPathRoot="Manager/Views" 
			customEngine="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" 
		/>
		<services>
			<service id="ResourceFactory" type="Cuyahoga.Web.Components.MonoRail.GlobalResourceFactory, Cuyahoga.Web" />
		</services>
	</monorail>

	<system.web>
		<httpHandlers>
			<add verb="*" path="Error.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="*.ashx" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
			<add verb="*" path="*.aspx*" type="Cuyahoga.Web.HttpHandlers.PageHandler, Cuyahoga.Web" />
		</httpHandlers>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.MicroKernel" />
			<add type="Cuyahoga.Web.HttpModules.AuthenticationModule, Cuyahoga.Web" name="AuthenticationModule" />
			<add type="Cuyahoga.Web.HttpModules.CoreRepositoryModule, Cuyahoga.Web" name="CoreRepositoryModule" />
			<add name="NHibernateSessionWebModule"
				 type="Castle.Facilities.NHibernateIntegration.Components.SessionWebModule, Castle.Facilities.NHibernateIntegration" />
		</httpModules>

		<httpRuntime executionTimeout="90" maxRequestLength="4000" />

		<compilation defaultLanguage="c#" debug="true" />

		<customErrors mode="RemoteOnly" />

		<authentication mode="Forms">
			<forms name="CuyahogaUser" loginUrl="Login.aspx" protection="All" timeout="30" path="/" />
		</authentication>

		<machineKey
			validationKey="A390AF30238CB64C1C4CEBE3A82D4EC48A9852B2419EE8F5C2D0DAA6D5268485FC859E3AF4AFCDC60C02F90B9618599F6471AEC1C1B77C543B514A94ED0D5530"
			decryptionKey="4797B20FDB686E6F1C579094E98680C995B82883DC97C3A58515468A9EFDC0E0"
			validation="SHA1" decryption="AES"
		/>

		<authorization>
			<allow users="*" />
		</authorization>

		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />

		<pages enableEventValidation="false" />

	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="1.2.0.4000" newVersion="1.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
</configuration>
